Brotli==1.0.9
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
decorator==4.4.2
distlib==0.3.7
docutils==0.20.1
EasyProcess==1.1
entrypoint2==1.1
ffpyplayer==4.5.0
filelock==3.12.2
idna==3.4
imageio==2.31.1
imageio-ffmpeg==0.4.8
Kivy==2.2.1
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
KivyGradient==0.0.4
PyAutoGUI==0.9.54
pyperclip==1.8.2
requests==2.31.0
sh==2.0.6
static-ffmpeg==2.5
yt-dlp==2023.7.6
